@charset "utf-8";

$primary: #9dc3a9;
$dark: #224c31;
$grey: #b9c7c5;
$active: #9dc3a9;

html::-webkit-scrollbar {
    display: none;
}

html {
  scroll-behavior: smooth;
}


.indexColumn {
  width: 30px;
}

.itemColumn {
  word-break: break-all;
  width: 300px;
}

.itemCommonColumn {
  word-break: break-all;
  width: 100px;
}

.itemFreqColumn {
  word-break: break-all;
  width: 30px;
}

.typeColumn {
  word-break: break-all;
  width: 100px;
}

.actionColumn {
  word-break: break-all;
  width: 100px;
}

.dateColumn {
  word-break: break-all;
  width: 100px;
}

#visualization {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  background-color: $grey;
}

.vis-item {
  background-color: $primary;
  border-color: $dark;
}

input[type="file"] {
  display: none;
}

svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

#loading,
#success,
#resultTable,
#timelineSection,
#summarySection,
#aboutSection {
  display: none;
}

.active-menu {
  background-color: $active;
}

@import "../../node_modules/bulma/bulma.sass";
